/* CSS Document */

/*cute google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap');

body {
	/* these are variables in CSS. Not everyone uses them, but they make quick changes much faster */
	--main-bkg-color: #000;
	--bkg-color1: #8CCDFF;	
	--bkg-color2: #548fbb;
	--bkg-color3: #8089FF;
	--nav-title-color: #364d4d;
	--main-text-color: #364d4d;
	--link-color: #363EB3;
	--tag-color: #7dbfd3;
	--hover-color: black;
	--hover-bg-color: pink;
	--selection-color: yellow;
	
	--map-selection-color: #ed8266;
	--font-multiplier: 1.2;
	--content-gap: 1em;
	--item-gap: 0.2em;
	--default-item-color: rgb(200,200,200);
	--navheight: 10vh;
	
	background-color: var(--main-bkg-color);
    box-sizing: border-box;
    z-index: 1;
    margin: auto 0; 
	height: 100%;
	font-size: 16px;
	overflow: hidden;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	color: var(--nav-title-color);
	font-size: 30px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-align: center;
	line-height: normal;
}

h2 {
}
h3 {
}
h4 {
}
p {
	font-family: 'Roboto Mono', monospace;
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: regular;
	padding:0px 0px 0px 0px;
}

button {
}

footer {
  	height: 60px;
    width: 80%;
	font-weight: bold;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 0px; 
	padding: 15px;
}

/* main */

.splash-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	/*grid-auto-rows: auto;*/
	border-bottom: 20px solid var(--main-bkg-color);
	width: 100%;
	justify-items: center;
	grid-row-gap: 2vh;
	grid-column-gap: 3vw;
	margin: 15px;
}

#splash-grid {
	/*zilch*/
}

#splash-item1 {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	padding: 15px;
	border-radius: 10px;
	background-color: var(--bkg-color1);
}

#splash-item2 {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
	padding: 15px;
	background-color: var(--bkg-color2);
	border-radius: 10px;
}

#splash-item3 {
	grid-column: 1 / span 5;
	grid-row: 3 / span 1;
	padding: 15px;
	background-color: var(--bkg-color3);
	margin-right: 50px;
	margin-bottom: 100px;
	border-radius: 10px;
}

#splash-item5  {
	grid-column: 3 / span 3;
	grid-row: 1 / span 2;
	padding: 15px;
	/*background-color: var(--bkg-color2);*/
	/*background-image: url('OPTION2-FOR-ADDING-IMGs.jpg');*/
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	border-radius: 10px;
	transition: 1.5s;
}


.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-auto-rows: auto;
	border-bottom: 20px solid var(--main-bkg-color);
	width: 100%;
	grid-template-areas: 'header' 'main';
}



/* firefox-only scrollbar class to use in divs */
.scroller {
	scrollbar-color: var(--default-item-color) var(--main-bkg-color);
	scrollbar-width: thin;
}
.scroller2 {
	scrollbar-color: var(--default-item-color) var(--main-bkg-color);
	scrollbar-width: thin;
	overflow-y: scroll;
	overflow-x: hidden;
}
/* chrome default scrollbar styles */
::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--default-item-color);
}



/*other*/

.highlight {
	background-color: var(--button-color);
	color: var(--hover-color) !important;
	border-color: black !important;
}
h3 > .highlight {
	background-color: var(--main-text-color);
	color: var(--hover-color) !important;
	border-color: black !important;
}

.highlight2 {
	color: var(--hover-color) !important;
}



/* mainid */

#mainid {
	height: 93%;
	width: 100%;
	/*position: absolute;*/
	left: 0px;
    z-index: 1;
	border-top-right-radius: 20px;
}

/* nav */

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: block;
	height: calc(var(--navheight));
}

.li-nav {
    float: right;
}

li {
	font-family: 'Roboto Mono', monospace;
	color: var(--main-text-color);
	font-size: calc(var(--font-multiplier) * 1em);
	font-weight: regular;
	padding: 0px 0px 0px 0px;
}

.navbar li a {
	font-family: 'Roboto Mono', monospace;
    display: block;
    color: var(--link-color);
    text-decoration: none;
	padding: calc(var(--navheight)/4);
	height: calc(var(--navheight)/2);
}

a {
	color: var(--link-color);
}

a:hover {
    background-color: var(--hover-bg-color);
	color:  var(--hover-color);
}

#title {
	float: left;
	display: inline-block;
}
#logo {
	height: 80%;
	width: auto;
	margin: auto;
}




/** scrollbar **/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Roboto Mono', monospace;
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Roboto Mono', monospace;
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Roboto Mono', monospace;
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Roboto Mono', monospace;
  color: rgb(200,200,200);
  font-size: calc(var(--font-multiplier) * 16px);
}




















